
@media only screen and (max-width: 992px) {
.left-section{
  width: 100% !important;
  margin: auto;
  margin-bottom: 2rem;
}
.right-section{
  width: 100% !important;
  margin: auto;

}
.right-section form input {
  width: 100%;
}
.btnSubmit-form{
  width: 100%;
}

.navbar{
  width: 100%;
  padding: 0 !important;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.nav-item{
  margin: auto !important;
}

.navbar-collapse {
  margin-right: 0 !important;
}
.left-section{
  margin-top: 5rem;
}

}
